* {
	font-family: 'Roboto', sans-serif;
	font-weight: 500;
	box-sizing: border-box;
	color: black;
}

body, html, #screen {
	margin: 0px;
	min-height: 100vh;
	width: 100%;
	background: #fbfbfb;
}

p {
	max-width: 100%;
	overflow-wrap: break-word;
}

.icon-btn {
	width: 40px;
	height: 40px;
	background-color: transparent;
	border-radius: 50%;
	cursor: pointer;
	overflow: hidden;
}

/* NAVBAR */

#navbar {
	height: 56px;
	width: 100%;
	position: fixed;
	top: 0;
	background: white;
	z-index: 1;
}

.navbar-wal {
	background: #E4F2FF;
	height: 34px;
	width: 120px;
	border-radius: 40px;
}

/* SIDEBAR */

#sidebar {
	height: calc(100% - 55px);
	position: fixed;
	top: 56px;
	margin-left: 0;
	background: #fbfbfb;
	width: 230px;
	transition: 0.2s;
	overflow: auto;
	padding: 15px;
	z-index: 1;
}

#smallsidebar {
	height: 100%;
	position: fixed;
	top: 0px;
	margin-left: -235px;
	background: #fbfbfb;
	width: 230px;
	transition: 0.2s;
	overflow: auto;
	z-index: 10000;
	box-shadow: 0px 0px 4px 4px #0000001A;
}

.sidebar-info-top {
	height: 26px;
	width: 100%;
	position: relative;
}

.cur-select {
	border-radius: 5px;
	border: 1px solid #DBDBDB;
	width: 60px;
	height: 24px;
}

.sidebar-info-bottom {
	height: 54px;
	width: 100%;
	position: relative;
}

.sidelink {
	position: relative;
	width: 100% !important;
	height: 48px !important;
	border-radius: 7px;
	background: #fbfbfb;
	transition: 0.2s;
	cursor: pointer;
}

.sidelink:hover {
	background: #f6f6f6;
}

.sidelinkwrapper.active .sidelink {
	background: #E4F2FF;
}

.sidelink svg path {
	fill: #666666;
}

.sidelinkwrapper.active .sidelink svg path, .sidelinkwrapper.active .sidelink .sidelink-text {
	fill: #0066FF;
	color: #0066FF;
}

.sidelinkwrapper.active:active .sidelink {
	background: #BEE0FF;
}

.sidelink:active {
	background: #eaeaea;
}

.sidebar-nav {
	height: 56px;
	width: 100%;
	background: white;
	border-bottom: #f0f0f0 1px solid;
	z-index: 3;
}

select {
	background: url(data:image/svg+xml;base64,PHN2ZyBpZD0iTGF5ZXJfMSIgZGF0YS1uYW1lPSJMYXllciAxIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA0Ljk1IDEwIj48ZGVmcz48c3R5bGU+LmNscy0xe2ZpbGw6I2ZmZjt9LmNscy0ye2ZpbGw6IzQ0NDt9PC9zdHlsZT48L2RlZnM+PHRpdGxlPmFycm93czwvdGl0bGU+PHJlY3QgY2xhc3M9ImNscy0xIiB3aWR0aD0iNC45NSIgaGVpZ2h0PSIxMCIvPjxwb2x5Z29uIGNsYXNzPSJjbHMtMiIgcG9pbnRzPSIxLjQxIDQuNjcgMi40OCAzLjE4IDMuNTQgNC42NyAxLjQxIDQuNjciLz48cG9seWdvbiBjbGFzcz0iY2xzLTIiIHBvaW50cz0iMy41NCA1LjMzIDIuNDggNi44MiAxLjQxIDUuMzMgMy41NCA1LjMzIi8+PC9zdmc+) no-repeat 95% 50%;
	-moz-appearance: none;
	-webkit-appearance: none;
	appearance: none;
	padding-left: 4px;
}

.content {
	padding-top: 56px;
	padding-left: 245px;
	padding-right: 15px;
	padding-bottom: 15px;
	transition: 0.2s;
	width: 100%;
	min-height: 100%;
}

.page {
	min-height: 100%;
	width: 100%;
	display: flex;
	flex-wrap: wrap;
}

.container {
	padding: 15px;
	border: 1px solid #e5e5e5;
	border-radius: 10px;
	margin-bottom: 14px;
	flex-grow: 1;
	margin-left: 7px;
	margin-right: 7px;
}

.tokenlogo {
	width: 25px;
	height: 25px;
	z-index: 0;
}

table {
	border-collapse: separate;
	border-spacing: 0;
	width: 100%;
	max-width: 100%;
}

th {
	padding: 8px;
	border-bottom: 1px solid #f0f0f0;
}

td {
	height: 48px;
	padding: 16px 8px;
	border-bottom: 1px solid #f0f0f0;
}

tr {
	transition: 0.2s;
	max-height: 60px!important;
}

tbody tr:hover {
	background: #f6f6f6;
}

.logotd {
	width: 33px!important;
	min-width: 33px;
	position: relative;
}

.numtd {
	width: 45px;
	min-width: 45px;
}

.pricetd {
	width: 115px;
	min-width: 115px;
	max-width: 115px;
}
.charttd{
	width: 135px;
	min-width: 135px;
	max-width: 135px;
	padding-left: 20px;
	padding-top:0px;
	padding-bottom: 0px;
}
.suptd, .pctd{
	width: 95px;
	min-width: 95px;
	max-width: 95px;
}

thead {
	position: sticky;
	-webkit-position: sticky;
	top: 56px;
	background: #fbfbfb;
	z-index: 1;
	border-collapse: separate!important;
	border-bottom: 1px solid #f0f0f0;
}

.loader-svg {
	height: 200px;
	width: 200px;
}

.loader {
	position: fixed;
	height: 100vh;
	width: 100vw;
	top: 0;
	right: 0;
	background: #00000044;
	z-index: 9999;
	backdrop-filter: blur(10px);
	-webkit-backdrop-filter: blur(10px);
}

.t-red {
	color: #ea3943;
}

.t-green {
	color: #16c784;
}

.t-grey {
	color: #666666;
}
.pdn, .pd{
	transition: 0.2s;
}
@media(min-width:485px){
	.pd{
		opacity: 0;
		height: 0px!important;
		min-height: 0px!important;
		max-height: 0px !important;
		min-width: 0px!important;
		max-width: 0px!important;
		padding: 0px!important;
		font-size: 0px!important;
	}
	.pdd{
		display: none;
	}
}


@media(max-width: 850px) {
	.content {
		padding-left: 0px;
		padding-right: 0px;
	}
	.hamb-menu {
		margin-left: 4px !important;
	}
	#sidebar {
		margin-left: -230px!important;
	}
	.logosvg {
		margin-left: 51px !important;
	}
	.textsvg {
		margin-left: 100px !important;
	}
	#smallsidebar.expanded {
		margin-left: 0!important;
	}
	.sidebar-overlay {
		transition: 0.2s;
		color: #ffffff;
	}
	.sidebar-overlay.expanded {
		position: fixed;
		height: 100%;
		width: 100%;
		z-index: 4;
		background: #00000044;
		backdrop-filter: blur(10px);
		-webkit-backdrop-filter: blur(10px);
	}
	.of-hidden {
		overflow: hidden;
	}
	.mobt-r {
		padding-right: 15px;
	}
	.mobt-l {
		padding-left: 15px;
	}
}

@media(max-width: 484px) {
	#smallsidebar.expanded {
		width: 100%;
	}
	#smallsidebar {
		width: 100%;
		margin-left: calc(-100% - 5px);
	}
	.charttd, .pricetd{
		min-width: auto;
		max-width: 35%;
		margin: 0px!important;
		padding-left: 0px;
	}
	.charttd canvas{
		max-width: 100%;
		max-height: 53px;
	}
	.numtd{
		padding-right: 0px;
		max-width: 35px!important;
		min-width: 35px!important;
	}
	.pdn{
		opacity: 0;
		height: 0px!important;
		min-height: 0px!important;
		max-height: 0px !important;
		min-width: 0px!important;
		max-width: 0px!important;
		padding: 0px!important;
		font-size: 0px!important;
		width: 0px!important;
		;
	}
}

@media(max-width: 350px) {
	.textsvg {
		margin-top: -60px !important;
	}
}

@media(max-width: 187px) {
	.buyinfo-link {
		margin-top: -60px !important;
	}
}

/*[ HAMBURGER MENU ]
///////////////////////////////////////////////////////////
*/

.hamb-menu {
	transition: 0.2s;
	margin-left: -40px;
}

.hamburger-svg, .icon {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.hamburger-line {
	fill: none;
	stroke: #666666;
	stroke-width: 6;
	transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1), stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hamburger-line1 {
	stroke-dasharray: 60 207;
	stroke-width: 6;
}

.hamburger-line2 {
	stroke-dasharray: 60 60;
	stroke-width: 6;
}

.hamburger-line3 {
	stroke-dasharray: 60 207;
	stroke-width: 6;
}

.opened .hamburger-line1 {
	stroke-dasharray: 90 207;
	stroke-dashoffset: -134;
	stroke-width: 6;
}

.opened .hamburger-line2 {
	stroke-dasharray: 1 60;
	stroke-dashoffset: -30;
	stroke-width: 6;
}

.opened .hamburger-line3 {
	stroke-dasharray: 90 207;
	stroke-dashoffset: -134;
	stroke-width: 6;
}